h2{
	font-family: 'Oswald';
	color:red;
	text-align:center;
	text-shadow:1px 2px 3px gray;
	text-decoration:underline;
	font-size:10vw;
	text-transform:uppercase;
	
}

p:first-letter{
	font-size:80px;
	color:red;
	font-family: 'Oswald';
}

p{
	font-family: "Playwrite CZ", cursive;
	border:2px solid blue;
	width:500px;
	margin:auto;
	font-size:20px;
	/*text-align:justify;
	text-indent:100px;*/
	word-spacing:20px;
	letter-spacing:5px;
	
	
	
}