body{
    font-family: 'Roboto', sans-serif;
}

/*font-family: 'Playfair Display', serif;
font-family: 'Hammersmith One', sans-serif;*/

  /* ============================== */
 /********** Default CSS **********/
/*==============================*/
h1,h2,h3,h4,h5,h6,p{
	margin:0;
}
a{
	text-decoration: none;
}
ul{
	margin:0;
	padding:0;
	list-style: none;
}


.container{
	max-width: 1140px;
	width:100%;
	margin:auto;
}

.btn-style-1{
	font-family: 'Hammersmith One', sans-serif;
	color:#00e0d0;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 16px;
	border:2px solid #00e0d0;
	border-radius: 3px;
	background: transparent;
	display: inline-block;
	padding:10px 20px;
	transition: .5s;
}
.btn-style-1:hover{
	background: #00e0d0;
	color:#FFF;
}

  /* ============================== */
 /****** Header Area CSS **********/
/*==============================*/

.header-area {
	background: url('../images/banner.jpg') no-repeat scroll 0 0 / 100% 100%;
	position: relative;
	z-index: 1;
}
.header-area:after{
	content:"";
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height: 100%;
	background:linear-gradient(45deg,#0D0733,#120B3A,#1F1248,#281853,#2D1B5A,#311D5E);
	opacity: 0.85;
	z-index: -1;
}

.header-top {
	display: flex;
	justify-content: space-between;
	padding: 15px 0;
	align-items: center;
} 
.menu ul{
	display: flex;
}
.menu ul li a{
	color:#FFF;
	font-weight: 900;
	text-transform: uppercase;
	font-size:15px;
	display: block;
	padding:10px 20px;

}
.menu ul li:hover a,
.menu ul li a.active{
	color:#00e0d0;
}

.banner-area {
	text-align: center;
	color: #FFF;
	padding: 145px 0 65px 0;
}
.banner-area h1 {
	font-family: 'Playfair Display', serif;
	font-weight: 900;
	font-size: 32px;
	position: relative;
	padding-bottom: 25px;
	margin-bottom: 25px;
}
.banner-area h1::after {
	content: "";
	position: absolute;
	left: 0;
	right:0;
	margin:auto;
	bottom: 0;
	width: 60px;
	height: 1px;
	background: #00e0d0;
}
.banner-area p {
	max-width: 790px;
	width: 100%;
	margin: 20px auto;
	font-weight: 300;
	line-height: 25px;
}

.banner-area a {
	margin-top: 30px;
	margin-bottom: 100px;
}

.dots ul {
	display: flex;
	justify-content: center;
}
.dots ul li a {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: transparent;
	display: block;
	margin:0 3px;
	border:1px solid #FFF;
}
.dots ul li a:hover,
.dots ul li a.active{
	background: #00e0d0;
	border:1px solid #00e0d0;
}